<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">
    <img
      class="img-item"
      src="https://drive.google.com/uc?id=16sL85fCiC5QVJsjgMPoWUTy374Wmlsny"
      alt="Imagem de Solidariedade"
    >
    <p>
      Existem pessoas precisando muito da sua ajuda! Veja abaixo como ajudar 😁
    </p>
    <ion-card [routerLink]="['/tabs/tab2']">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://drive.google.com/uc?id=1beDxDVrPMw9F-liUF9y1Kyf7b0i_fko1"
            alt="Mão segurando Coração"
          >
        </ion-thumbnail>
        <ion-label>Quero doar</ion-label>
      </ion-item>
    </ion-card>
    <ion-card [routerLink]="['/tabs/tab3']">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img
            src="https://drive.google.com/uc?id=1rAoVaWVzRzXbyFiKN33fnmov2XhCzagP"
            alt="Aperto de mão"
          >
        </ion-thumbnail>
        <ion-label>Preciso de Doações</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
